


<div class="container-fluid center-splash">
	<div class="row">
		<div class="col">

			<div class="container goals">
				<div class="row">
					<div class="col-sm-0">
						<a href="#">
			      			<span class="glyphicon glyphicon-check" style="font-size:75px; color:#4CBB17;"></span>
			    		</a>
					</div>
					<div class="col goal-text" style="padding-top: 15px;padding-bottom: 15px; font-size:33px;">
						Accomplished Goal Text
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-0">
						<a href="#">
			      			<span class="glyphicon glyphicon-unchecked" style="font-size:75px; color:#4CBB17;"></span>
			    		</a>
					</div>
					<div class="col goal-text" style="padding-top: 15px;padding-bottom: 15px; font-size:33px;">
						Not Yet Accomplished Goal Text
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
